.tableContainer {
    background-color: rgb(160, 95, 95);
    padding: 1rem;
    border-radius: 8px;
    max-height: 300px;
    overflow-y: auto;
    margin-top: 1rem;
  }
  
  .table {
    width: 100%;
    border-collapse: collapse;
    color: rgb(0, 0, 0);
  }
  
  .table th,
  .table td {
    border: 1px solid white;
    padding: 8px;
    text-align: left;
  }
  
  .table th {
    background-color: #968484;
  }

  .formContainer{
    background-color: rgb(187, 132, 132);
    overflow-y: auto;
    margin-top: 1rem;
  }

  .form {
    width: 100%;
    border-collapse: collapse;
    color: rgb(0, 0, 0);
  }

  .button {
    background-color: rgb(255, 255, 255);
    width: 20%;
    cursor: pointer;
    transition: background-color 0.2s ease;
  }

  .button:hover {
    background-color: #619764;
  }

  .error {
    color: red;
    background-color: #ffe6e6;
    padding: 0.5rem 1rem;
    border: 1px solid red;
    border-radius: 4px;
    margin-bottom: 1rem;
  }