:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 600;
  
  display:flex;
  justify-content: center;
  align-items: center;

  color-scheme: light dark;
  color: rgba(90, 15, 15, 0.87);
  background-color: #d3afaf;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 1;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 2em;
  line-height: 1;
}

.divider{
  width:10px;
  height:auto;
  display:inline-block;
}